button{
  margin-right: 3rem;
}

.mat-fab.mat-thura, .mat-flat-button.mat-thura, .mat-mini-fab.mat-thura,
.mat-raised-button.mat-thura {
  color: #fff;
  background-color:rgb(57, 156, 78);
}

.noti{
  margin: 3rem;
}

.navbar{
  justify-content: space-between;
}

span{
  padding-right: 1rem;
}

/* ----------- sidenav ----------- */
mat-sidenav-container{
  height: 100%;
}

mat-sidenav, mat-sidenav-content{
  padding: 16px;
}

mat-sidenav{
  background-color: #007bff;
  width: 200px;

}

/* ----------- card ----------- */
.example-card{
  max-width: 400px;
}

.example-header-image{
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
/* ----------- grid ----------- */
mat-grid-tile{
  background: lightblue;
}

/* ----------- tabs----------- */
.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
}

.example-large-box {
  height: 300px;
  width: 300px;
}

