<div>
<button mat-flat-button>Click me!</button>
<button mat-icon-button>Icon</button>
<button mat-stroked-button>Click me!</button>
<button mat-raised-button>Click me!</button>
<button mat-button>Click me!</button>
<button mat-fab>Fab</button>
<button mat-mini-fab>Minifab</button>
</div>

<h3>Basic Buttons</h3>
<div>
    <button mat-button>Basic</button>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" mat-button>Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button routerLink=".">Link</a>
</div>

<h3>Raised Buttons</h3>
<div>
    <button mat-raised-button>Basic</button>
  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
  <button color="thura" mat-raised-button>Thura</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>

</div>

<h3>Stroked Buttons</h3>
<div>
    <button mat-stroked-button>Basic</button>
  <button color="primary" mat-stroked-button>Primary</button>
  <button color="accent" mat-stroked-button>Accent</button>
  <button color="warn" mat-stroked-button>Warn</button>
  <button mat-stroked-button disabled>Disabled</button>
  <a mat-stroked-button routerLink=".">Link</a>
</div>

<h3>Flat Buttons</h3>
<div>
    <button mat-flat-button>Basic</button>
  <button color="primary" mat-flat-button>Primary</button>
  <button color="accent" mat-flat-button>Accent</button>
  <button color="warn" mat-flat-button>Warn</button>
  <button mat-flat-button disabled>Disabled</button>
  <a mat-flat-button routerLink=".">Link</a>
</div>

<h3>Icon Buttons</h3>
<div>
    <button mat-icon-button>Basic</button>
  <button color="primary" mat-icon-button>Primary</button>
  <button color="accent" mat-icon-button>Accent</button>
  <button color="warn" mat-icon-button>Warn</button>
  <button mat-icon-button disabled>Disabled</button>
  <a mat-icon-button routerLink=".">Link</a>
</div>

<h3>Fab Buttons</h3>
<div>
    <button mat-fab>Basic</button>
  <button color="primary" mat-fab>Primary</button>
  <button color="accent" mat-fab>Accent</button>
  <button color="warn" mat-fab>Warn</button>
  <button mat-fab disabled>Disabled</button>
  <a mat-fab routerLink=".">Link</a>
</div>

<h3>MiniFab Buttons</h3>
<div>
    <button mat-mini-fab>Basic</button>
  <button color="primary" mat-mini-fab>Primary</button>
  <button color="accent" mat-mini-fab>Accent</button>
  <button color="warn" mat-mini-fab>Warn</button>
  <button mat-mini-fab disabled>Disabled</button>
  <a mat-mini-fab routerLink=".">Link</a>
</div>
<hr>

<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>

<div class="mat-headline">This is a heading for h1</div>
<div class="mat-title">This is a heading for h2</div>
<div class="mat-subheading-2">This is a heading for h3</div>
<div class="mat-subheading-1">This is a heading for h4</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div>

<hr>
<div class="mat-typography">
<h1>This is a heading for h1</h1>
<h2>This is a heading for h2</h2>
<h3>This is a heading for h3</h3>
<h4>This is a heading for h4</h4>
<h5>This is a heading for h5</h5>
</div>

<hr>
<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
     <mat-button-toggle value="angular">Angular</mat-button-toggle>
     <mat-button-toggle value="react">React</mat-button-toggle>
     <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
</div>

<div>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
      </mat-button-toggle-group>
</div>

<h3>MaterialIcon</h3>
<div>
  <mat-icon>history</mat-icon>
  <mat-icon>build</mat-icon>
  <mat-icon>delete_outline</mat-icon>
  <mat-icon>work_outline</mat-icon>
</div>

<div>
    <mat-icon color="primary">history</mat-icon>
    <mat-icon color="primary">build</mat-icon>
    <mat-icon color="primary">delete_outline</mat-icon>
    <mat-icon color="primary">work_outline</mat-icon>
  </div>

  <div>
      <mat-icon color="warn">history</mat-icon>
      <mat-icon color="warn">build</mat-icon>
      <mat-icon color="warn">delete_outline</mat-icon>
      <mat-icon color="warn">work_outline</mat-icon>
    </div>

    <h3>Badges</h3>
    <p class="noti">
      <span [matBadge]="notifications" >Notifications</span>
    </p>
    <p class="noti">
        <span matBadge="5" matBadgePosition="below before">Notifications</span>
    </p>
    <p class="noti">
        <span matBadge="5" matBadgePosition="below after">Notifications</span>
    </p>
    <p class="noti">
        <span matBadge="5" matBadgePosition="below before">Notifications</span>
    </p>
    <p class="noti">
        <span matBadge="5" matBadgeSize="small">Notifications</span>
    </p>
    <p class="noti">
        <span matBadge="5" matBadgeSize="medium">Notifications</span>
    </p>
    <p class="noti">
        <span matBadge="5" matBadgeSize="large">Notifications</span>
    </p>

    <p class="noti">
        <span matBadge="5" matBadgeColor="thura">Notifications</span>
      </p>
      <p class="noti">
          <span matBadge="5" matBadgeColor="accent">Notifications</span>
        </p>
        <p class="noti">
            <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Notifications</span>
          </p>

<hr>
<h3>Spinner</h3>
<mat-spinner *ngIf="showSpinner" color="accent"></mat-spinner>
<button (click)="loadData()">Load Data</button>
<mat-progress-spinner value="50"></mat-progress-spinner>

<hr>
<h3>Tool Bar</h3>
<mat-toolbar color="primary" class="navbar">
  <span>My Application</span>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
  </div>
</mat-toolbar>

<hr>
<h3>SideNav</h3>
<mat-sidenav-container>
  <mat-sidenav #sidenav  mode="side" [(opened)]="opened">Sidenav</mat-sidenav>
  <mat-sidenav-content>Main
    <button (click)="opened=!opened">Toggle Opened</button>

    <a (click)="sidenav.open()" style="margin-right: 1rem"><mat-icon >computer</mat-icon></a>
    <a (click)="sidenav.close()" style="margin-right: 1rem"><mat-icon >close</mat-icon></a>
    <a (click)="sidenav.toggle()"><mat-icon >menu_open</mat-icon></a>

  </mat-sidenav-content>
</mat-sidenav-container>
<br>

<h3>Menu</h3>
<mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
  <button mat-menu-item [matMenuTriggerFor]="subMenu">FrontEnd</button>
  <button mat-menu-item>Backend</button>
</mat-menu>

<button class="center" mat-flat-button [matMenuTriggerFor]="appMenu">Computing</button>

<mat-menu #subMenu="matMenu">
  <button mat-menu-item>Angular</button>
  <button mat-menu-item>React</button>
  <button mat-menu-item>Vue</button>
</mat-menu>

<mat-menu #lazyMenu="matMenu">
  <ng-template matMenuContent let-name="name">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Logout {{name}}</button>
  </ng-template>
</mat-menu>

<button mat-raised-button
 [matMenuTriggerData]="{name: 'Thura'}"
 [matMenuTriggerFor]="lazyMenu"
 >Thura</button>
<button mat-raised-button
 [matMenuTriggerData]="{name: 'CherryPeach'}"
 [matMenuTriggerFor]="lazyMenu"
 >CherryPeach</button>
<hr>

<mat-card>Simple card</mat-card>
 <h3>Card</h3>
 <mat-card class="example-card">
   <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
   </mat-card-header>
   <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
   <mat-card-content>
     <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.</p>
   </mat-card-content>
   <mat-card-actions>
     <button mat-button>LIKE</button>
     <button mat-button>SHARE</button>
   </mat-card-actions>
 </mat-card>

 <hr>
 <h3>Grid</h3>
 <mat-grid-list cols="2" rowHeight="2:1">
   <mat-grid-tile rowspan="2">1</mat-grid-tile>
   <mat-grid-tile >2</mat-grid-tile>
   <mat-grid-tile>3</mat-grid-tile>
   <mat-grid-tile colspan="2">4</mat-grid-tile>
 </mat-grid-list>

 <br>
 <mat-grid-list cols="2" rowHeight="fit" style="height: 200px" gutterSize=
 "10px">
    <mat-grid-tile >1</mat-grid-tile>
    <mat-grid-tile >2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile >4</mat-grid-tile>
  </mat-grid-list>

  <hr>
  <h3>Expansion panel</h3>
  <mat-accordion>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Angular Fundamental
    </mat-panel-title>
    <mat-panel-description>
      Duration : 3 hrs
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>This is the primary content of the panel.</p>
  <mat-action-row>
    <button mat-raised-button>Enroll</button>
  </mat-action-row>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Material
      </mat-panel-title>
      <mat-panel-description>
        Duration : 2 hrs
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
    <mat-action-row>
      <button mat-raised-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<br>

<hr>
<h3>Tabs</h3>
<mat-tab-group #tabRef>
  <mat-tab label="Angular">
    Angular Content
    <p>...</p>
  </mat-tab>
  <mat-tab label="React">
      React Content
      <p>...</p>
    </mat-tab>
    <mat-tab label="Vue">
        Vue Content
        <p>...</p>
      </mat-tab>
</mat-tab-group>
{{tabRef.selectedIndex}}

<br>
<mat-tab-group dynamicHeight>
    <mat-tab label="Short tab">
      <div class="example-small-box mat-elevation-z4">
        Small content
      </div>
    </mat-tab>
    <mat-tab label="Long tab">
      <div class="example-large-box mat-elevation-z4">
        Large content
      </div>
    </mat-tab>
  </mat-tab-group>

  <hr>
  <h3>Stepper</h3>
  <mat-horizontal-stepper linear>
     <mat-step label="Shipping Address" completed=true>
       <p>Shipping Address Details</p>
     </mat-step>

      <mat-step label="Billing Address" completed=false optional>
          <p>Billing Address Details</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step label="Place Order" completed=false>
            <p>Order Details</p>
          </mat-step>
  </mat-horizontal-stepper>

  <mat-vertical-stepper linear>
      <mat-step label="Shipping Address" completed=true>
        <p>Shipping Address Details</p>
      </mat-step>

       <mat-step label="Billing Address" completed=false optional>
           <p>Billing Address Details</p>
           <div>
             <button mat-button matStepperPrevious>Back</button>
             <button mat-button matStepperNext>Next</button>
           </div>
         </mat-step>
         <mat-step label="Place Order" completed=false>
             <p>Order Details</p>
           </mat-step>
   </mat-vertical-stepper>
