<div>
<button mat-flat-button>Click me!</button>
<button mat-icon-button>Icon</button>
<button mat-stroked-button>Click me!</button>
<button mat-raised-button>Click me!</button>
<button mat-button>Click me!</button>
<button mat-fab>Fab</button>
<button mat-mini-fab>Minifab</button>
</div>

<h3>Basic Buttons</h3>
<div>
    <button mat-button>Basic</button>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" mat-button>Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button routerLink=".">Link</a>
</div>

<h3>Raised Buttons</h3>
<div>
    <button mat-raised-button>Basic</button>
  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div>

<h3>Stroked Buttons</h3>
<div>
    <button mat-stroked-button>Basic</button>
  <button color="primary" mat-stroked-button>Primary</button>
  <button color="accent" mat-stroked-button>Accent</button>
  <button color="warn" mat-stroked-button>Warn</button>
  <button mat-stroked-button disabled>Disabled</button>
  <a mat-stroked-button routerLink=".">Link</a>
</div>

<h3>Flat Buttons</h3>
<div>
    <button mat-flat-button>Basic</button>
  <button color="primary" mat-flat-button>Primary</button>
  <button color="accent" mat-flat-button>Accent</button>
  <button color="warn" mat-flat-button>Warn</button>
  <button mat-flat-button disabled>Disabled</button>
  <a mat-flat-button routerLink=".">Link</a>
</div>

<h3>Icon Buttons</h3>
<div>
    <button mat-icon-button>Basic</button>
  <button color="primary" mat-icon-button>Primary</button>
  <button color="accent" mat-icon-button>Accent</button>
  <button color="warn" mat-icon-button>Warn</button>
  <button mat-icon-button disabled>Disabled</button>
  <a mat-icon-button routerLink=".">Link</a>
</div>

<h3>Fab Buttons</h3>
<div>
    <button mat-fab>Basic</button>
  <button color="primary" mat-fab>Primary</button>
  <button color="accent" mat-fab>Accent</button>
  <button color="warn" mat-fab>Warn</button>
  <button mat-fab disabled>Disabled</button>
  <a mat-fab routerLink=".">Link</a>
</div>
<hr>

<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>

<div class="mat-headline">This is a heading for h1</div>
<div class="mat-title">This is a heading for h2</div>
<div class="mat-subheading-2">This is a heading for h3</div>
<div class="mat-subheading-1">This is a heading for h4</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div>

<hr>
<div class="mat-typography">
<h1>This is a heading for h1</h1>
<h2>This is a heading for h2</h2>
<h3>This is a heading for h3</h3>
<h4>This is a heading for h4</h4>
<h5>This is a heading for h5</h5>
</div>
